<app-header2></app-header2>
<br>
<h1>
    Menu
</h1>
<div class="container-menu">
    <div class="container-menu2">
        <div class="card">
            <figure>
                <img src="assets/images/agregar.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Agregar Empleado</h3>
                <a (click)="agregarEmpleado()">Entrar</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/modificar.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Modificar/Eliminar Empleado</h3>
                <a (click)="modificarEmpleado()">Entrar</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
